on:
  push:
    branches: main

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pages: write
    steps:
      - uses: actions/checkout@v4
      
      - name: Set up R
        uses: r-lib/actions/setup-r@v2
      
      - name: Install R packages
        run: |
          install.packages(c("rmarkdown", "knitr", "yaml"))
        shell: Rscript {0}
      
      - uses: quarto-dev/quarto-actions/setup@v2
      
      - name: Render
        run: quarto render
        
      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./_site
